<div class="container d-inline-flex">
    <h3 class="col-sm-9 p-2">Proyectos</h3>
    <div class="col-sm-3">
        <div class="d-flex p-2 flex-wrap">
            <div class="social-icons p-2" *ngIf="editService.valorIcon" >
                <a class="social-icon" href="#exp"  data-bs-toggle="modal" data-bs-target="#static"   ><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container proyectos col-10">
    <app-proyecto
        *ngFor="let dato of cards"
        [datos]="dato"
    ></app-proyecto>
</div>
