*{
    font-family: 'EB Garamond', serif; 
    font-weight: 5px;
    color:rgb(245, 238, 238);
    text-shadow: -3px 3px 2px black;
}
h1{
    color:#8484ff5c;
    text-shadow: -2px 2px 1px black;
    margin-left: 10px;
    font-size: 2rem;
}
h2{
    margin-left: 10px;
    font-size: 1.2rem;
    color:#8484ff5c;
    text-shadow: 1px 1px 1px black;
}
.edit-icon-foto{
    display: flex;
    height: 25px;
    width: 25px;
    margin-left: 130px;
    margin-top: -15px;
    background: #c6c7e5;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}
.contiene-fotos{
     display: flex;
    flex-direction: column;
}
.edit-icon-about{
    margin-left: 15px;
    display: flex;
    height: 25px;
    width: 25px;
    background: #c6c7e5;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin-top: 5px;

}

.about{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    background-color:rgba(0,0,0,0.03);
}
.perro{
    border-bottom: solid rgba(78, 76, 76, 0.5);
    display: flex;
}
.gato{
     display: flex;
    align-items: flex-end;
}
.edit-foto{
    margin-top: -70px;
    margin-left: 72px;
    margin-bottom: 50px;
    height: 25px;
     
}
.redondea{
    border-radius: 15px;
}

