<section>


<div class="contiene-fotos">
    <div id="banner" >
        <img id="foto-banner" [src]="about.banner" >
    </div> 
    <div class="social-icons edit-banner" *ngIf="editService.valorIcon" (click)="onFotoBanner()" >
        <a class="social-icon" href="#" ><i class="fas fa-pen"></i></a>
    </div>
    

    <div id="foto-perfil">
        <img id="fperfil" [src]="about.fperfil"> 
    </div>
        
    <div class="social-icons edit-foto" *ngIf="editService.valorIcon" (click)="onFotoPerfil()" >
        <a class="social-icon" href="#" ><i class="fas fa-pen"></i></a>
    </div>

</div>



<div class ="container">
    <div class="col-sm-12 d-flex border border-2 border-secondary redondea">
        
        <div class="about col-sm-4 fs-8 p-2">
            <h1 class="nombre" fs-6>{{about.nombre}} {{about.apellido}}</h1>
            <h2 class="titulo" fs-2>{{about.titulo}}</h2>
            <div class="social-icons col-sm-2">
                <a class="social-icon" [href]="about.wahtsapp" target="_blank" ><i class="fab fa-whatsapp"></i></a>
            </div>

        </div>
        <div class="social-icons p-1 col-sm-1 g-0" *ngIf="editService.valorIcon" (click)="onNombre()" >
            <a class="social-icon" href="#" ><i class="fas fa-pen"></i></a>
        </div>
    
        <div class="col-sm-6 g-0 p-1">
            <p class="text-about">{{about.about}}</p>
        </div>
        
        <div class="d-flex justify-content-center social-icons col-sm-1" *ngIf="editService.valorIcon" (click)="onAbout()" >
            <a class="social-icon" href="#" ><i class="fas fa-pen"></i></a>
        </div>
    </div>
</div>
<div class="separador"></div>


</section>

<div class="fixed-top modal-fotos " *ngIf="toggleModal" enctype="multipart/form-data" >
    <div class="position-relative col-sm-6 fade-in top-50 start-50 translate-middle border border-1 border-primary bg-white redondea">
        <!-- modal del edit foto de perfil  -->
        <div *ngIf="toggleFotoPefil">
            <div class="modal-header">
                <h3>Selecione la nueva foto de Perfil </h3>
            </div>
            <div class="modal-body col-sm-10">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Ingrese la direction de la nueva foto</label>
                    <input class="form-control" type="text"  id="formFile" [(ngModel)]="newPerfil">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onFotoPerfil()">Cerrar</button>
                <button type="button" class="btn btn-primary"  (click)="onPerfil()">Aceptar</button>
            </div>
        </div>

        <!-- modal del edit banner -->
        <div *ngIf="editFotoBanner">
            <div class="modal-header">
                <h3>Selecione la nueva foto de banner</h3>
            </div>
            <div class="modal-body ">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Ingrese la dirección del nuevo banner</label>
                    <input class="form-control" type="text" id="formFile" [(ngModel)]="newBanner">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onFotoBanner()">Cerrar</button>
                <button type="button" class="btn btn-primary"  (click)="cambioBanner()">Aceptar</button>
            </div>
        </div>
        <!-- modal del edit nombre -->
        <div *ngIf="editNombre">
            <div class="modal-header">
                <h3>Selecione los nuevos datos</h3>
            </div>
            <div class="modal-body ">
                <div class="mb-3">
                    <input class="form-control"  type="text" placeholder="Nombre" maxlength="20" [(ngModel)]="about.nombre">
                    <input class="form-control"  type="text" placeholder="Apellido" maxlength="10" [(ngModel)]="about.apellido">
                    <input class="form-control"  type="text" placeholder="Título" maxlength="15" [(ngModel)]="about.titulo">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onNombre()">Cerrar</button>
                <button type="button" class="btn btn-primary"  (click)="cambioNombre()">Aceptar</button>
            </div>
        </div>
        <!-- modal del edit about -->
        <div *ngIf="editAbout" (dblclick)="ondoble()">
            <div class="modal-header">
                <h3>Selecione los nuevos datos</h3>
            </div>
            <div class="modal-body ">
                <div class="mb-3">
                    <textarea class="form-control" name="textarea" rows="10" cols="70" [(ngModel)]="about.about" ></textarea>
                </div>
                <div class="mb-1">
                    <textarea class="form-control" name="number" *ngif="copyr" [(ngModel)]="about.copy" ></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onAbout()">Cerrar</button>
                <button type="button" class="btn btn-primary"  (click)="cambioAbout()">Aceptar</button>
            </div>
        </div>




    </div>
</div>
