*{
    font-family: 'Vidaloka', serif;


}
.nombre{

    text-shadow: -2px 2px 1px gray;
    margin-left: 10px;
    font-size: 2rem;
}
.titulo{

    margin-left: 10px;
    font-size: 1.2rem;
    text-shadow: -1px 1px 1px gray;
}

.contiene-fotos{
    display: flex;
    flex-direction: column;
}

.about{
   
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    background-color:rgba(0,0,0,0.03);
}

.edit-foto{
    margin-top: -70px;
    margin-left: 72px;
    margin-bottom: 50px;
    height: 25px;
     
}
.redondea{
    border-radius: 15px;
    color:rgb(0, 0, 0);
}

.modal-fotos{
    display:block;
    width: 100%;
    height: 100vh;
    background : rgba(0, 0, 0, 0.1)
}
#banner{
    width: 100%;
    height: 300px;
    background-color: #f2f2f3;
    border-bottom-color: #032546;
    border-bottom-style:solid ;
    /*border-bottom-width:15px ;*/
}
#foto-banner{
    width: 100%;
    height: 100%;
}
#fperfil{
    width: 95%;
    height: 95%;
    border-radius: 50%;
}
#foto-perfil{
    margin-top: -65px;
    margin-left: 25px;
    display: flex;
    border-style: solid;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: #032546 ;
}
