
<div class="contiene-cosas">
    <div id="banner" >
        <img id="foto-banner" [src]="about.banner" >
                   
    </div>

    <div id="foto-perfil">
        <img id="fperfil" [src]="about.fPerfil"> 
    </div>
    <div class="edit-foto" >
        <div class="social-icons" *ngIf="editIcon" >
            <a class="social-icon foto-pen" href="#" ><i class="fas fa-pen"></i></a>
        </div>
    </div>
</div>



<div class ="container">
    <div class="col-sm-12 d-flex border border-2 border-secondary rounded-3">
        <div class="about col-sm-3 fs-8 p-2">
            <h1 fs-6>{{about.nombre}}</h1>
            <h2 fs-4>{{about.titulo}}</h2>
        </div>
        <div class="social-icons p-2 col-sm-1 g-0" *ngIf="editIcon" >
            <a class="social-icon" href="#" ><i class="fas fa-pen"></i></a>
        </div>
    
        <div class="col-sm-6 fs-8 g-0 ">
          <p fs-4>{{about.texto}}</p>
        </div>
    
         <div class="col-sm-2  d-flex">
            <app-icons></app-icons>
        </div>
    </div>
</div>
<div class="separador"></div>

