
<div class="contiene-cosas">
    <div id="banner" >
        <img id="foto-banner" [src]="about.banner" >
                   
    </div>

    <div id="foto-perfil">
        <img id="fperfil" [src]="about.fPerfil"> 
    </div>
    <div class="damian" >
        <div class="edit-icon-foto" *ngIf="editIcon" >
            <a class="social-icon" href="#" ><i class="fad fa-pencil-alt"></i></a>
        </div>
    </div>
</div>
<div class ="perro">

    <div id="acerca-de" class="about">
        <h1>{{about.nombre}}</h1>
        <h2>{{about.titulo}}</h2>
        <p>{{about.texto}}</p>    
        
    </div>
    <div class="gato">

        <div class="edit-icon-about" *ngIf="editIcon" >
            <a class="social-icon" href="#" ><i class="fad fa-pencil-alt"></i></a>
        </div>
    </div>
</div>
