#yo-prog{
    color:honeydew;
    align-items:center;


}
.img-nav{
    display: flex;
    height: 100%;
    width: 7rem;
    align-items: center;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 2.2rem;
    background-color: #032546;
    color: #fff;
    border-radius: 50%;
    font-size: 1.4rem;
    margin-right: 0.7rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #0475f7;
  }
  .row{
    margin-bottom: 1.5rem
  }