#yo-prog{
    color:honeydew;
    align-items:center;


}
.img-nav{
    display: flex;
    height: 100%;
    width: 70px;
    align-items: center;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #032546;
    color: #fff;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #0475f7;
  }