
<header>
    <nav>
        <div id="cont-img"><img  class="img-nav"  [src]="header.apLogo" > <p id="yo-prog">{{header.apText}}</p></div>
        
        <div class="social-icons">
            <a class="social-icon" [href]="header.lidin"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" [href]="header.github"><i class="fab fa-github"></i></a>
            <a class="social-icon" [href]="header.twitter"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" [href]="header.facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon" href="#" (click)="onLogin()">
                <i 
                    class="fas fa-sign-in-alt"         

                ></i>
            </a>
        </div>
        
    </nav>

    
  
</header>