
<header>
    <nav (dblclick)="onDouble()">
        <div id="cont-img">
            <img  class="img-nav"  [src]="header.apLogo" > 
            <div id="yo-prog">{{header.apText}}</div>
        </div>
        
        <div class="social-icons">
            <a class="social-icon" [href]="header.lidin"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" [href]="header.github"><i class="fab fa-github"></i></a>
            <a class="social-icon" [href]="header.twitter"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" [href]="header.facebook"><i class="fab fa-facebook-f"></i></a>
            <a class="social-icon" href="#" *ngIf="login" >
                <i 
                    class="fas fa-sign-in-alt"
                    data-bs-toggle="modal" 
                    data-bs-target="#staticBackdrop"      
                ></i>
            </a>
            <a class="social-icon" href="#" *ngIf="logout" (click)="onDouble()" >
              <i 
                    (click)="onDouble()"
                    class="fas fa-sign-out-alt"
              ></i>
            </a>
        </div>
        
    </nav>

    
  
</header>


  <!-- Modal Login -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Login into porfolio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
                 <div class="container">
              <div class="col">
                <div class="row">
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="far fa-user-circle"></i></span>
                    <input 
                      [(ngModel)]="username" 
                      class="form-control"
                      type="text" 
                      placeholder="Username" 
                      aria-label="text" 
                      aria-describedby="addon-wrapping"
                  
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
                    <input 
                      [(ngModel)]="password" 
                      type="password" 
                      class="form-control" 
                      placeholder="password" 
                      aria-label="password" 
                      aria-describedby="addon-wrapping"
                     >
                     
                  </div>
                </div>  
                <div class="row ">
                  <a href="#">olvido su password</a>
                </div>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button " class="btn btn-success" data-bs-dismiss="modal" (click)="onLogin()">Login</button>

        </div>
      </div>
    </div>
  </div>
