*{
    font-family: 'EB Garamond', serif; 
}
.container{
    display: flex;
    flex-direction: row;
 
}

.contine-exp{
  
    background-color: rgba(128,128,128,0.09);
    color:rgb(245, 238, 238);
    text-shadow: -3px 3px 2px black;
    border-radius: 15px;
}
