*{
    font-family: 'Asap', sans-serif;
    /*font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Vidaloka', serif;*/
}
.container{
    display: flex;
    flex-direction: row;
 
}

.contine-exp{
  
    background-color: rgba(128,128,128,0.09);
    color:rgb(0, 0, 0);
    /*text-shadow: -2px 2px 2px rgb(241, 240, 243);*/
    border-radius: 15px;
}
