<div class="container mt-2" id="experiencia">

    <div class="contine-exp d-flex border border-2 col-sm-12" [ngClass]="{'border-secondary': !experiencia.actual , 'border-primary' : experiencia.actual }">
        <div class="col-sm-10 fs-8 p-2">
            <h5 mb-2>{{experiencia.nombre}} -- {{experiencia.periodo}} </h5>
            <p mt-0 >Puesto:{{experiencia.puesto}}</p>
            <p mt-0>Tareas:{{experiencia.tareas}}</p>
            <p mt-0>Tipo:{{experiencia.tipo}}</p>
        </div>
        <div class="col-sm-2">
            <div class="container m-0">
                <div class="icon-estudio   d-flex p-2 flex-wrap" *ngIf="editService.valorIcon" >
                    <div class="edit-icon-about social-icons p-2">
                        <a class="social-icon" href="#experiencia" (click)="onEdit()"><i class="fas fa-pen"></i></a>
                    </div>
                    <div class="edit-icon-about social-icons p-2" >
                        <a class="social-icon" href="#experiencia" (click)="onDelete(experiencia)" ><i class="far fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fixed-top modal-fotos " *ngIf="editFlag" enctype="multipart/form-data" >
    <div class="position-relative col-sm-6 fade-in border border-1 border-primary bg-white redondea">
        <div class="modal-header">
            <h3>Modificar los datos de experiencia</h3>
        </div>
        <div class="modal-body d-flex flex-column">
            <input class="form-control" type="text"  [(ngModel)]="editado.periodo">
            <input class="form-control" type="text"  [(ngModel)]="editado.nombre">
            <input class="form-control" type="text"  [(ngModel)]="editado.puesto">
            <input class="form-control"  type="text" [(ngModel)]="editado.tareas">
            <input class="form-control"  type="text" [(ngModel)]="editado.tipo">
            <input type="checkbox" class="btn-check" id="btncheck1" [(ngModel)]="editado.actual">
            <label class="btn btn-outline-primary" for="btncheck1">Actual</label>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onEdit()" >Cerrar</button>
            <button type="button" class="btn btn-primary"  (click)="onSaveEdit(editado)">Aceptar</button>
        </div>
    </div>
</div>

