<div class="container d-inline-flex">
    <h3 class="col-sm-6 p-2">Experiencias</h3>
    <div class="col-sm-3">
        <div class="d-flex p-2 flex-wrap">
            <div class="social-icons p-2" *ngIf="editService.valorIcon" >
                <a class="social-icon" href="#exp"  data-bs-target="#static" (click)="onNew()"   ><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>
<app-experiencia
    (onSaveEditExp)="saveEdit($event)"
    *ngFor="let dato of experiencias"
        [experiencia]="dato"
        (onDeleteExp)="deleteExp(dato)"
></app-experiencia>
<div class="separador"></div>

<!-- Modal -->
<div class="fixed-top modal-exp" *ngIf="toggleModal" enctype="multipart/form-data" >
  <div class="position-relative col-sm-6 fade-in top-50 start-50 translate-middle border border-1 border-primary bg-white redondea">
      <div> 
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Agregar Experiencia</h5>
           <button type="button" class="btn-close"  aria-label="Close" (click)="onNew()"></button>
        </div>
          
        <div class="modal-body">
          <input class="form-control"  type="text" placeholder="Periodo" [(ngModel)]="nuevo.periodo">
          <input class="form-control"  type="text" placeholder="Empresa" [(ngModel)]="nuevo.nombre">
          <input class="form-control"  type="text" placeholder="Puesto" [(ngModel)]="nuevo.puesto">
          <input class="form-control"  type="text" placeholder="Tareas" [(ngModel)]="nuevo.tareas">
          <input class="form-control"  type="text" placeholder="Tipo de trabajo:" [(ngModel)]="nuevo.tipo">
          <input type="checkbox" class="btn-check" id="btncheck1" [(ngModel)]="nuevo.actual">
          <label class="btn btn-outline-primary" for="btncheck1">Actual</label>
      </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onNew()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="onAdd(nuevo)" >Aceptar</button>
        </div>

      </div>
  </div>
</div>
