    <circle-progress 
     [innerStrokeColor]="'#e7e8ea'" 
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="10" 
      [animationDuration]="2000"
      [showTitle]="true"
      [responsive]="false"
      [subtitleFontSize]="'20'"
      [showImage]="true"
      [imageSrc]="datos.titulo"
      [imageHeight]="60"
      [imageWidth]="60"
      
      [percent]="datos.porcentaje"  
      [outerStrokeColor]="datos.color" 
     ></circle-progress>
     <h4 class="text-center">{{datos.subtitulo}} </h4>

