<div class="container" >
    <div class="contine-estudio  d-flex border border-2 border-secondary col-12">
        <div class="estudio col-10 fs-8 p-2">
            <h5><span>{{estudio.periodo}}</span> -- {{estudio.institucion}}</h5>
            <p class="titulo">Titulo obtenido: {{estudio.titulo}}</p>
            <p class="onserba">{{estudio.descripcion}}</p>
            <p *ngIf="estudio.completo">completo</p>

        </div>
        <div class="col-2">
            <app-icons></app-icons>
        </div>
    </div>
</div>