<div class="container">
    <div class="contine-estudio  border border-2 border-secondary">
        <div class="estudio fs-5">
            <h5><span>{{estudio.periodo}}</span>-- {{estudio.institucion}}</h5>
            <p class="titulo">Titulo obtenido: {{estudio.titulo}}</p>
            <p class="onserba">{{estudio.descripcion}}</p>
            <p *ngIf="estudio.completo">completo</p>

        </div>
        <div class="icon-estudio">
            <div class="edit-icon-about" *ngIf="editIcon" >
                <a class="social-icon" href="#" ><i class="fas fa-pen"></i></a>
            </div>
            <div class="edit-icon-about" *ngIf="editIcon">
                <a class="social-icon" href="#" ><i class="far fa-trash-alt"></i></a>
            </div>
        </div>
    </div>
</div>