
 <h2>Habilidades</h2>
 <div class="contiene-progres">

     <div class="progres">
         <div class="box">
             <div class="percent prog1">
                 <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                 </svg>
                 <div class="number">
                     <h2>85<span>%</span></h2>
          
                 </div>
             </div>
         </div>
         <h2>HTML5</h2>
     </div>
     <div class="progres">
         <div class="box">
             <div class="percent prog2">
                 <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                 </svg>
                 <div class="number">
                     <h2>80<span>%</span></h2>
          
                 </div>
             </div>
         </div>
         <h2>CSS3</h2>
     </div>
     <div class="progres">
         <div class="box">
             <div class="percent prog3">
                 <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                 </svg>
                 <div class="number">
                     <h2>75<span>%</span></h2>
          
                 </div>
             </div>
         </div>
         <h2>JAVASCRIPT</h2>
     </div>



 </div>
 <div class="contiene-progres">

     <div class="progres">
         <div class="box">
             <div class="percent prog4">
                 <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                 </svg>
                 <div class="number">
                     <h2>50<span>%</span></h2>
          
                 </div>
             </div>
         </div>
         <h2>ANGULAR</h2>
     </div>
     <div class="progres">
         <div class="box">
             <div class="percent prog5">
                 <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                 </svg>
                 <div class="number">
                     <h2>70<span>%</span></h2>
          
                 </div>
             </div>
         </div>
         <h2>JAVA</h2>
     </div>
     <div class="progres">
         <div class="box">
             <div class="percent prog6">
                 <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                 </svg>
                 <div class="number">
                     <h2>30<span>%</span></h2>
          
                 </div>
             </div>
         </div>
         <h2>SPRINGBOOT</h2>
     </div>



 </div>