/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    background-image: linear-gradient(66deg, #3f946a, #032546);
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
}
nav{
    height: 30px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-color: rgb(133, 198, 252);
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
#cont-img{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#button{
    padding: 5px;
    border-radius: 5px;
    background-color: bisque;
    margin-right: 2%;
}

#principal{
    display: flex;
    flex-direction: column;
    height:89%;
    width: 100%;
    background-color:rgb(229, 153, 219);
    background-image: linear-gradient(66deg, #3f946a, #032546);
}
#pie{
    background-color:rgb(248, 205, 205);
    width: 100vw;
    height: 5vh;
}

.separador{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: gray;
    border-top-style:groove ;
    border-top-width:3px ;
}


/*iconos */

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.6rem;
    width: 1.6rem;
    background-color: #032546;
    color: #fff;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #0475f7;
 }